<div class="flex-sm-row">
    <form
        class="mx-auto container col-sm-4 mt-3"
        (ngSubmit)="onSubmit()"
        [formGroup]="changePasswordForm">
        <h1 class="text-center">Change password</h1>

        <div class="mb-4 mt-3">
            <input
                placeholder="Old password"
                type="password"
                class="form-control"
                formControlName="oldPassword"
                [ngClass]="{ 'is-invalid': fail === 1 }" />
        </div>

        <div class="form-outline mb-4">
            <input
                placeholder="Password"
                type="password"
                class="form-control"
                [ngClass]="{
                    'is-valid':
                        newPassword && newPassword.touched && newPassword.valid,
                    'is-invalid':
                        (newPassword &&
                            newPassword.touched &&
                            newPassword.getRawValue()?.length === 0) ||
                        newPassword?.hasError('sameAsOld') ||
                        fail === 1
                }"
                formControlName="newPassword" />
        </div>

        <div class="form-outline mb-4">
            <input
                placeholder="Confirm password"
                type="password"
                class="form-control mb-2"
                [ngClass]="{
                    'is-valid':
                        newPasswordConfirm &&
                        newPasswordConfirm.touched &&
                        newPasswordConfirm.valid,
                    'is-invalid':
                        (newPasswordConfirm &&
                            newPasswordConfirm.touched &&
                            newPasswordConfirm.getRawValue()?.length === 0) ||
                        newPasswordConfirm?.hasError('notSame') ||
                        fail === 1
                }"
                formControlName="newPasswordConfirm" />
            <ngb-alert
                *ngIf="newPasswordConfirm?.hasError('notSame')"
                [dismissible]="false"
                class="alert alert-danger fade show m-3"
                type="danger">
                <span>Repeated password doesn't match your new password.</span>
            </ngb-alert>
            <ngb-alert
                *ngIf="newPassword?.hasError('sameAsOld')"
                [dismissible]="false"
                class="alert alert-danger fade show m-3"
                type="danger">
                <span>Old password and new password are the same.</span>
            </ngb-alert>
            <ngb-alert
                (closed)="fail = 0"
                *ngIf="fail === 1"
                [dismissible]="true"
                class="alert alert-danger fade show m-3"
                type="danger">
                <span>Something went wrong.</span>
            </ngb-alert>
            <ngb-alert
                (closed)="success = 0"
                *ngIf="success === 1"
                [dismissible]="true"
                class="alert alert-danger fade show m-3"
                type="success">
                <span>Password changed successfully</span>
            </ngb-alert>
        </div>

        <input
            type="submit"
            class="btn btn-primary btn-block mb-4 d-sm-block w-100 mx-auto"
            value="Change password" />
    </form>
</div>
