<div class="flex-sm-row">
    <form
        class="mx-auto container col-sm-4 mt-3"
        (ngSubmit)="onSubmit()"
        [formGroup]="changePasswordForm">
        <h1 class="text-center">Change password</h1>

        <div class="mb-4 mt-3">
            <input
                placeholder="Old password"
                type="password"
                class="form-control"
                formControlName="oldPassword" />
        </div>

        <div class="form-outline mb-4">
            <input
                placeholder="Password"
                type="password"
                class="form-control"
                [ngClass]="{
                    'is-valid':
                        newPassword && newPassword.touched && newPassword.valid,
                    'is-invalid':
                        (newPassword &&
                            newPassword.touched &&
                            newPassword.getRawValue()?.length === 0) ||
                        newPassword?.hasError('sameAsOld')
                }"
                formControlName="newPassword" />
        </div>

        <div class="form-outline mb-4">
            <input
                placeholder="Confirm password"
                type="password"
                class="form-control mb-2"
                [ngClass]="{
                    'is-valid':
                        newPasswordConfirm &&
                        newPasswordConfirm.touched &&
                        newPasswordConfirm.valid,
                    'is-invalid':
                        (newPasswordConfirm &&
                            newPasswordConfirm.touched &&
                            newPasswordConfirm.getRawValue()?.length === 0) ||
                        newPasswordConfirm?.hasError('notSame')
                }"
                formControlName="newPasswordConfirm" />
            <span
                *ngIf="newPasswordConfirm?.hasError('notSame')"
                class="validation-message"
                >Repeated password doesn't match your new password</span
            >
            <span
                *ngIf="newPassword?.hasError('sameAsOld')"
                class="validation-message"
                >Old password and new password are the same</span
            >
        </div>

        <input
            type="submit"
            class="btn btn-primary btn-block mb-4 d-sm-block w-100 mx-auto"
            value="Change password" />
    </form>
</div>
