<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>

    <security-role>
        <role-name>EMPLOYEE</role-name>
    </security-role>

    <security-role>
        <role-name>CLIENT</role-name>
    </security-role>

    <security-role>
        <role-name>ANONYMOUS</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin-pages</web-resource-name>
            <url-pattern>/admins.xhtml</url-pattern>
            <url-pattern>/employees.xhtml</url-pattern>

            <url-pattern>/addAdmin.xhtml</url-pattern>
            <url-pattern>/addEmployee.xhtml</url-pattern>

            <url-pattern>/editAdmin.xhtml</url-pattern>
            <url-pattern>/editEmployee.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>employee-pages</web-resource-name>
            <url-pattern>/clients.xhtml</url-pattern>
            <url-pattern>/rents.xhtml</url-pattern>

            <url-pattern>/addClient.xhtml</url-pattern>
            <url-pattern>/addRent.xhtml</url-pattern>

            <url-pattern>/editClient.xhtml</url-pattern>
            <url-pattern>/editRent.xhtml</url-pattern>

            <url-pattern>/clientsFilter.xhtml</url-pattern>
            <url-pattern>/addRoom.xhtml</url-pattern>
            <url-pattern>/editRoom.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>EMPLOYEE</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>


    <!--    <error-page>-->
    <!--        <location>/error.xhtml</location>-->
    <!--    </error-page>-->

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>application.description</param-name>
        <param-value>Przykładowa aplikacja JSF</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
